{{!< layout}}
{{#if instance}}
  {{#if status}}
  {{!--
    possible status colors:
      "green"
      "orange"
      "red"
      "gray"
  --}}
  <div>Deployed <img src="https://s3-us-west-1.amazonaws.com/runnable-design/status-green.svg" title="{{{status}}}" width="9" height="9" class="icon-status">repoName/SAN-7334.</div>
  <div class="btn-wrapper">
    <a href="" class="btn">View URL</a>
    <a href="" class="btn">View on Runnable</a>
  </div>
  {{else}}
  {{!-- if no status (between building and running) --}}
  <div>Deploying <img src="https://s3-us-west-1.amazonaws.com/runnable-design/status-orange.svg" title="{{{status}}}" width="9" height="9" class="icon-status">repoName/SAN-7334</div>
  <div class="btn-wrapper">
    <a href="" class="btn">View URL</a>
    <a href="" class="btn">View on Runnable</a>
  </div>
  {{/if}}
{{/if}}
{{#unless instance}}
  <div><span class="emoji">🔭</span> {{{text}}}</div>
  <div class="btn-wrapper">
    <a href="//runnable.com/docs" class="btn" target="_blank">Create Environment</a>
  </div>
{{/unless}}
