body {
  background: #fff;
}

section + section {
  margin-top: 9px;
}

.section-manage {
  margin-left: 17px;
}

.container {
  display: inline-block;
}

.container + .container::before {
  content: ',';
  display: inline-block;
  padding-right: 4px;
}

.icon-status {
  margin-left: 2px;
  margin-right: 6px;
}

.emoji {
  font-size: 21px;
}

.link {
  display: inline-block;
}
